 #maze{
	display: table;
  	margin-right: auto;
  	margin-left: auto;
}


.mazeConfig{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

#solve{
	/*position: relative;*/
	/*left: 7%;*/
}

#dropList option{
	width: 50px;
}
